    .cart_icn_as{
        text-align:center;
    }
    .cart_in {
        display: inline-block;
        width: 200px;
        height: 200px;
        background: #d7d7d7;
        border-radius: 100px;
        border: 20px solid #ededed;
        font-size: 60px;
        line-height: 167px;
        font-weight: 400;
        color: #424242;
        box-shadow: 0px 0px 6px #bbbbbb;
        margin-top: 20px;
    }
    .crt_empty{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color:#333;
        line-height: 40px;
        margin-top: 10px;
    }
    .cnt_shopng{
        display: inline-block;
        background:#333;
        color:#fff;
        padding:10px 15px;
        font-size: 16px;
        margin-top: 10px;
        border:0px solid red;
    }
    .cnt_shopng:hover{
        background:#111;
        color:#fff;
    }
    .paymnfld1 {
        font-size: 24px;
        color: #ff4343;
        margin-top: 20px;
        font-weight: 600;
    }
    .paymnfld2 {
        font-size: 17px;
        padding: 0px 25%;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .thnkyou_order6 {
        background: #f1f1f1;
        width: 48%;
        max-width: none;
        flex: none;
        margin-left: 1%;
        margin-right: 1%;
        padding: 25px 20px;
        border-radius: 10px;
        padding-bottom: 0px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    a.add_review {
        color: #585bc2;
    }

    .col-3.order_detail{
        text-align: center;
    }
    .product-order .product-order-detail .order_detail h4 {
        margin-bottom: 5px;
        text-transform: capitalize;
        font-weight: 600;
        text-align: left;
        color: #36422d;
    }
    .thnkyou_order6 h4 {
        letter-spacing: 0px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 6px;
        text-transform: capitalize;
        color: #36422d;
    }
    .product-order .product-order-detail .order_detail h5 {
        text-transform: capitalize;
        margin-bottom: 0;
        font-weight: 500;
        text-align: left;
    }
    .thnkyou_order6 .product-order-detail h5 {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0px;
    }
    .product-order .total-sec {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        margin: 15px 0;
        padding: 15px 0;
        padding-left: 0px;
    }
    .product-order .total-sec ul li {
        font-size: 18px;
        display: block;
        text-transform: capitalize;
        margin-bottom: 4px;
        margin-top: 4px;
        font-weight: 500;
    }
    .product-order .total-sec ul li span {
        float: right;
    }
    .product-order .final-total h3 {
        display: block;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 22px;
        color: #36422d;
    }
    .product-order .final-total h3 span {
        float: right;
    }
    .thnkyou_order6 ul{
        padding-left: 0px;
        margin-top: 0px;
    }
    .row.product-order-detail{
        margin-bottom: 10px;
    }
    .product-order .col-3 {
        float: left;
        max-width: none;
        flex: none;
        width: 33.3333333%;
        text-align: left;
    }
    .pric_right, .pric_right h4, .pric_right h5{
        text-align: right !important;
    }
    .qnty_wrp h4, .qnty_wrp h5{
        text-align: center !important;
    }
    .qnty_wrp{
        float: left;
        border:0px solid red;
        width: 20% !important;
    }
    .prodct_name_as {
        width: 46% !important;
    }
    ul li {
        list-style-type: none;
    }
    .img_uld_a{
        position: relative;
    }

    .img_uld_img {
        width: 300px;
        /*border: 1px solid #555;*/
        border-radius: 10px;
        margin-top: 10px;
    }



    .img_uld_a_cls {
        position: absolute;
        bottom: 0;
        right: 49%;
        z-index: 99;
        font-size: 27px;
        margin-bottom: 4px;
        color: #ff5050;
    }

    *,
    *::after,
    *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder {
        opacity: 0.8;
        color: white;
    }

    ::-moz-placeholder {
        opacity: 0.8;
        color: white;
    }

    :-moz-placeholder {
        opacity: 0.8;
        color: white;
    }

    :-ms-input-placeholder {
        opacity: 0.8;
        color: white;
    }

    /*body {
    font-size: 20px;
    line-height: 1.4;
    color: rgba(255,255,255,0.8);
    background: #1d1f20;
    }*/

    .preview {
        display: block;
        width: 200px;
        height: 200px;
        margin: 20px auto;
        box-shadow: 0px 0px 0px 2px rgba(33, 122, 105, 1);
        border-radius: 50%;
        overflow: hidden;
    }

    .file-upload-wrapper {
        position: relative;
        z-index: 5;
        display: block;
        width: 250px;
        height: 30px;
        margin: 25px auto;
        border-radius: 0px;
        border-bottom: 1px dashed rgba(33, 122, 105, 1);
    }

    .file-upload-native,
    .file-upload-text {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: rgba(255,255,255,0.8);
    }

    input[type="file"]::-webkit-file-upload-button {
        cursor: pointer;
    }

    .file-upload-native:focus,
    .file-upload-text:focus {
        outline: none;
    }

    .file-upload-text {
        z-index: 10;
        padding: 5px 15px 8px;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.4;
        cursor: pointer;
        text-align: center;
        letter-spacing: 1px;
        text-overflow: ellipsis;
        border: 0;
        background-color: #000000b5;
    }

    .file-upload-native {
        z-index: 15;
        opacity: 0;
    }
    .preview.img-wrapper 
    {
        /*display: none;*/
    }

    .submit_show button {
        z-index: 5;
        display: block;
        width: 250px;
        height: 30px;
        margin: 25px auto;
        border-radius: 0px;
        border: 1px solid rgba(33, 122, 105, 1);
        cursor: pointer;
    }